1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
strin="Mohamed"
#First Way

2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource' <br>
Expected Result : 'w3ce' <br>
##Sample String : 'w3'<br>
Expected Result : 'w3w3'<br>
##Sample String : ' w'<br>
Expected Result : Empty String)

3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

9-Write a Python function to reverse a string if its length is a multiple of 4

10- Write a Python program to remove a newline in Python

11-Write a Python program to check whether a string starts with specified characters

12- Write a Python program to add prefix text to all of the lines in a string

13-Write a Python program to print the following numbers up to 2 decimal places

14-Write a Python program to print the following numbers up to 2 decimal places with a sign

15-Write a Python program to display a number with a comma separator

16-Write a Python program to reverse a string using 2 ways

 17-Write a Python program to count repeated characters in a string (hint:use dictionary)

18-Write a Python program to find the first non-repeating character in a given string

19-Write a Python program to remove spaces from a given string

20-Write a Python program to count the number of non-empty substrings of a given string

21-write a Python program to swap first and last element of any list.

22-Given a list in Python and provided the positions of the elements,
<br>write a program to swap the two elements in the list.<br>
(Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3 <br>
Output : [19, 65, 23, 90])

23- search for the all ways to know the length of the list

24-write a Python code to find the Maximum number of list of numbers.

25-write a Python code to find the Minimum number of list of numbers.

**26-search for if an elem is existing in list

**27- clear python list using different ways

**28-remove duplicated elements from a list

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.<br>
(Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]<br>
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [5]:
list1=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,5,5,6]
"""
#First Way
list1=set(list1)
list1
"""

"""
#Second Way
l2=[]
for i in range(len(list1)):
    if list1[i] not in l2:
        l2.append(list1[i])
l2
"""

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [18]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
l1={}
freq=0
for i in range(len(test_list)):
    for j in range(0,len(test_list)):
        if test_list[i]==test_list[j]:
            freq +=1
    l1.update({test_list[i]:freq})
    freq=0
l2=[]
for i in l1:
    if l1[i] > K:
        print(i,end=" ")

4 3

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [29]:
l=[1,2,2,3,4,5]
l1=[]

for i in range(1,len(l)):
    if l[i-1]<=l[i]:
        l1.append(l[i])
l1

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [53]:
l=[1,2,3]
print("Number of possible Combinations > ",(2**(len(l)))-2)
for i in range(len(l)):
    for j in range(len(l)):
        for k in range (len(l)):
            if l[i] != l[j] and l[i] != l[k] and l[j] != l[k]:
                print(l[i],l[j],l[k])

Number of possible Combinations >  6
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [64]:
l=[1,2,3]

for i in range(len(l)):
    for j in range(i,len(l)):
        for k in range (j,len(l)):
            print(l[i:k+1])

[1]
[1, 2]
[1, 2, 3]
[1, 2]
[1, 2, 3]
[1, 2, 3]
[2]
[2, 3]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [83]:
List_1 = ["a","b"]
List_2 = [1,2]
l =[]
for i in range (len(List_1)):
    for j in range(len(List_2)):
        l.append((List_1[i],List_2[j]))
l

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [13]:
l1=[1,1,2,3,4,5,1,2,1]
freq=0
l={}
for i in range (len(l1)):
    for j in range(0,len(l1)):
        if l1[i]==l1[j]:
            freq +=1
    l.update({l1[i]:freq})
    freq=0
max =0

# for i in range (len(l1)):
#     if l[i] > max:
#         max=l[i]
for value in l.values() :
    if value>max:
        max=value
key = next((k for k, v in l.items() if v == max), None)
l1=[x for x in l1 if x !=key]
print(l1)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List <br>
(The original list 1 is : [‘Gfg’, ‘is’, ‘best’]<br> 
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] <br>
The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [17]:
l1=['Gfg', 'is', 'best']
l2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
for i in range(len(l2)):
    if l2[i]==0:
      l2[i]=l1[0]
    elif l2[i]==1:
       l2[i]=l1[1]
    else:
       l2[i]=l1[2]
print(l2,end=" ")

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 <br>
Output : [(4, 5, 5, 4)] <br>
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 <br>
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda<br>
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Output :<br>
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]<br>
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]<br>
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [19]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
for i in range(len(array)):
    array.sort(key=lambda x: x[i])
    print(array)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value <br>
Input: <br>
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
<br>
Output: <br>
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [20]:
l={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
l=dict(sorted(l.items(),key=lambda x:x[0]))
print(l)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values ) <br>
input : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 <br>
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [42]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
l=[]
k=7
for value in test_dict.values() :
    if isinstance(value,str):
            l.append(value)
    elif int(value) < k:
            l.append(value)
l
for key,value in test_dict.items():
       for i in l:
              if i==value:
                     print({key:value},end=" ")

{'Gfg': 3} {'for': 6} {'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [47]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [49]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
for key,value in test_dict.items():
    print((key,value))

('Gfg', 3)
('is', 7)
('best', 10)
('for', 6)
('geeks', 'CS')

**44- Write a Python script to merge two Python dictionaries

In [51]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic1.update(dic2)
dic1

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [52]:
l={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
max=0
for value in l.values():
    if max<value:
        max=value
max

32

**46- Write a Python program to drop empty items from a given dictionary.<br>
Original Dictionary:<br>
{'c1': 'Red', 'c2': 'Green', 'c3': None}<br>
New Dictionary after dropping empty items:<br>
{'c1': 'Red', 'c2': 'Green'}

In [55]:
l={'c1': 'Red', 'c2': 'Green', 'c3': None}
for key,value in l.items():
    if value is not None:
        print({key:value},end=" ")

{'c1': 'Red'} {'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [64]:
l=[]
for i in range(0,11):
    l.append(i)
t=tuple(l)
t[5]
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**48-Write a Python program to unpack a tuple into several variables

In [66]:
t=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
a,b,c,d,*remain=t
print(a," ",b," ",c," ",d," ",remain)

0   1   2   3   [4, 5, 6, 7, 8, 9, 10]

**49-Write a Python program to add an item to a tuple

In [65]:
t=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
l=list(t)
l.append(11)
t=tuple(l)
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

**50-Write a Python program to convert a tuple to a string

In [71]:
t=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
string=str(t)

print(string,type(string))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'str'>

**51-Write a Python program to convert a list to a tuple

In [72]:
l1=[1,1,2,3,4,5,1,2,1]
t=tuple(l1)
t

(1, 1, 2, 3, 4, 5, 1, 2, 1)

**52-Write a Python program to reverse a tuple

In [73]:
t=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(t[::-1])

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

**53-Write a Python program to replace the last value of tuples in a list.<br>
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] <br>
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [95]:
# t=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
# l=list((t))
# for i in range (len(l)):
#     for j in range (len(l[0])):
#         if j==(len(l[0])):
#             l[i][j]=100
# tup=tuple(l)
# tup

t = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
l = list(t)
updated_list = []
for tup in l:
    updated_tup = tup[:-1] + (100,)
    updated_list.append(updated_tup)
tup = tuple(updated_list)
print(tup)

((10, 20, 100), (40, 50, 100), (70, 80, 100))

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0 <br>
<class 'str'> <br>
Convert the said string to a tuple: <br>
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [98]:
l=['p', 'y', 't', 'h', 'o', 'n', '3', '.', '0']
tup=tuple(l)
tup=str(tup)
print(tup,type(tup))

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0') <class 'str'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [140]:
t = ((10, 20, 40), (40, 50, 60), (70, 80, 90))
l=[]
for i in t:
    for j in i:
        l.append(j)
#l
sum=0
for i in l:
    sum+=i
average=sum/len(l)
round(average,0)

51.0

**56-Write a Python program to add member(s) to a set.

In [117]:
s = {1, 2, 3, 4, 5}
s.add(8)
s

{1, 2, 3, 4, 5, 8}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [120]:
s = {1, 2, 3, 4, 5}
s.pop()
s

{2, 3, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [122]:
s = {1, 2, 3, 4, 5}
s1={1,2,3,7,8,9,10}
print(s.intersection(s1))
print(s.union(s1))
print(s.difference(s1))
print(s.symmetric_difference(s1))

{1, 2, 3}
{1, 2, 3, 4, 5, 7, 8, 9, 10}
{4, 5}
{4, 5, 7, 8, 9, 10}

**59-Write a Python program to find the maximum and minimum values in a set

In [125]:
s = {1, 2, 3, 4, 5}
l=list(s)
max=0
min=100000000
for i in l:
    if i>max:
        max=i
for i in l:
    if i<min:
        min=i
print(max,min)

5 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [126]:
lst = [1, 2, 3, 4, 5, 6]
target_sum = 7
for i in range(len(lst)):
    for j in range(len(lst)):
        if lst[i]+lst[j]==7:
            print((lst[i],lst[j]),end=" ")

(1, 6) (2, 5) (3, 4) (4, 3) (5, 2) (6, 1)